In [25]:
import pandas as pd
import numpy as np

In [51]:
data = {
    0: [9904312, 3448737, 2890451, 2466052],
    1: [9631482, 3393191, 2632035, 2431774],
    2: [9762546, 3512547, 2517680, 2456016],
    3: [9853972, 3655437, 2466338, 2473990],
    4: ["수도권", "경상권", "수도권", "경상권"],
    5: [0.0283, 0.0163, 0.0982, 0.0141]
}
#columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

#index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data)
df

         0        1        2        3    4       5
0  9904312  9631482  9762546  9853972  수도권  0.0283
1  3448737  3393191  3512547  3655437  경상권  0.0163
2  2890451  2632035  2517680  2466338  수도권  0.0982
3  2466052  2431774  2456016  2473990  경상권  0.0141

In [52]:
a_list=[]

In [55]:
for i in range(2000):
    a= {}
    idx = list(dlist_r2.columns)
    a[idx[i]] = list(dlist_r2[idx[i]])
    #a(idx) = list(data[i])
    a_list.append(a)
a_list

[{0: [9904312, 3448737, 2890451, 2466052]},
 {1: [9631482, 3393191, 2632035, 2431774]},
 {2: [9762546, 3512547, 2517680, 2456016]},
 {3: [9853972, 3655437, 2466338, 2473990]},
 {4: ['\xec\x88\x98\xeb\x8f\x84\xea\xb6\x8c',
   '\xea\xb2\xbd\xec\x83\x81\xea\xb6\x8c',
   '\xec\x88\x98\xeb\x8f\x84\xea\xb6\x8c',
   '\xea\xb2\xbd\xec\x83\x81\xea\xb6\x8c']},
 {0: [9904312, 3448737, 2890451, 2466052]},
 {1: [9631482, 3393191, 2632035, 2431774]},
 {2: [9762546, 3512547, 2517680, 2456016]},
 {3: [9853972, 3655437, 2466338, 2473990]},
 {4: ['\xec\x88\x98\xeb\x8f\x84\xea\xb6\x8c',
   '\xea\xb2\xbd\xec\x83\x81\xea\xb6\x8c',
   '\xec\x88\x98\xeb\x8f\x84\xea\xb6\x8c',
   '\xea\xb2\xbd\xec\x83\x81\xea\xb6\x8c']}]

In [53]:
for i in range(5):
    a= {}
    idx = str(i)
    
    idx = list(df.columns)
    a[idx[i]] = list(df[idx[i]])
    #a(idx) = list(data[i])
    a_list.append(a)

In [54]:
a_list

[{0: [9904312, 3448737, 2890451, 2466052]},
 {1: [9631482, 3393191, 2632035, 2431774]},
 {2: [9762546, 3512547, 2517680, 2456016]},
 {3: [9853972, 3655437, 2466338, 2473990]},
 {4: ['\xec\x88\x98\xeb\x8f\x84\xea\xb6\x8c',
   '\xea\xb2\xbd\xec\x83\x81\xea\xb6\x8c',
   '\xec\x88\x98\xeb\x8f\x84\xea\xb6\x8c',
   '\xea\xb2\xbd\xec\x83\x81\xea\xb6\x8c']}]